{% extends 'base.html' %}

{% load static %}

 {% block body %}




 <div class="text-center px-100px">
    <main class="form-signin w-25 m-auto">
      <form action="/signup" method="POST">
        {% csrf_token %}
        <img class="mt-5 mb-4" src="{% static 'images/brand.png'%}" alt="">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
        {% comment %} <div class="form-floating mb-4">
          <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
          <label for="floatingInput">Username</label>
        </div> {% endcomment %}
        <div class="form-floating mb-4">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="first_name" name="fname" placeholder="First name">
            <label for="floatingPassword">First name</label>
          </div>
          <div class="form-floating mb-4">
            <input type="text" class="form-control" id="floatingPassword" name="lname" placeholder="Last name">
            <label for="floatingPassword">Last name</label>
          </div>
          
        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingPassword" name="pass1" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingPassword" name="pass2" placeholder="Password">
          <label for="floatingPassword"> Conform Password</label>
        </div>
    
    
        <button class="w-100 btn btn-lg btn-primary mb-4" type="submit">Sign Up</button>
        <p>Already have an account ?<a href="/login">signin</a> </p>
        
      </form>
    </main>

</div>













 {% comment %} <div class="text-center px-100px"> {% endcomment %}
    {% comment %} <main class="form-signin w-25 m-auto">


 <form>
    
    <img class="mb-4" src="{% static 'images/brand.png'%}" alt="">
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">First name</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">last name</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">username</label>
        <input type="text " class="form-control" id="exampleInputPassword1">
      </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>

</div> {% endcomment %}
 
 {% endblock body  %}%}